Source: node-d3-array
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs (>= 0.12.7~)
 , mocha <!nocheck>
 , node-d3-dsv <!nocheck>
 , node-rollup-plugin-node-resolve
 , node-rollup-plugin-terser
 , node-seedrandom
 , rollup
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/js-team/node-d3-array
Vcs-Git: https://salsa.debian.org/js-team/node-d3-array.git
Homepage: https://d3js.org/d3-array/
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-d3-array
Architecture: all
Depends: ${misc:Depends}
Provides: ${nodejs:Provides}
Multi-Arch: foreign
Description: Array manipulation, ordering, searching, summarizing, etc
 Data in JavaScript is often represented by an array, and so one tends to
 manipulate arrays when visualizing or analyzing data. Some common forms of
 manipulation include taking a contiguous slice (subset) of an array, filtering
 an array using a predicate function, and mapping an array to a parallel set of
 values using a transform function.
 .
 Before looking at the set of utilities that this module provides, familiarize
 yourself with the powerful array methods built-in to JavaScript.
 .
 Node.js is an event-based server-side JavaScript engine.
